.PhotoAlbum {
  padding: 1rem;
  margin: auto;

  h2 {
    font-family: monospace;
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
  }

  ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
  }

  li {
    height: 12rem;
    padding-bottom: 2rem;
  }

  img {
    width: auto;
    height: 100%;
  }
}
